.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 53%;
  justify-content: start;
  gap: 1vw;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  height: 13vw;
  border-radius: 1vw;
  background-color: #ffffff;
  padding: 1vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 75vw;
  padding: 1vw;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  background-color: #ffffff;
}

.chart-title {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 0vw 0vw 0vw 2vw;
  color: #777777;
  font-weight: 700;
  font-size: 0.9vw;
}
.consumption-cost-wrapper{
  display: flex;
  width: 100%;
  padding-top: 0.5vw;
  justify-content: center;
}
.hourlyConsumption,.cost{
  color: #777777;
  font-weight: 500;
  font-size: 0.8vw;
}
.hourlyConsumption-data,.cost-data{
  color: black;
  font-size: 2vw;
  font-weight: 700;
}
.wrapper-cost,.wrapper-consumption{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-right: 4vw;
}
@media all and (max-width:960px){
  .header{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 1vw;
  }
  .header-flex{
    flex-direction: column;
  }
  .title{
    font-size: 2.8vw;
  }
  .cards{
    width: 46vw;
    height: 16vw;
    border-radius: 2vw;
  }
  .btn {
    width: 95vw;
    height: 35vw;
    border-radius: 4vw;
    justify-content: space-around;
  }
  .btn-container{
    padding-top: 2vw;
  }
  .hourlyConsumption,.cost{
    font-size: 3vw;
  }
  .hourlyConsumption-data,.cost-data{
    font-size: 4vw;
  }
  .chart-title {
    font-size: 3vw;
    padding-top: 4vw;
  }
  .wrapper-cost, .wrapper-consumption {
    padding-right: 0vw;
}
.consumption-cost-wrapper {
    padding-top: 1vw;
    text-align: center;
    gap: 5vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .flex-col {
    width: 95%;
  }
}
