/* The switch - the box around the slider-bulb */
.switch {
  font-size: 2.5vw;
  position: relative;
  display: inline-block;
  width: 10.4vw;
  height: 4vw;
  overflow: hidden;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider-bulb */
.slider-bulb {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 6vw;
  border: 0.1vw solid black;
}

.slider-bulb:before {
  position: absolute;
  content: url("../../assets/watt.svg");
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  border: 0.2vw solid #333;
  left: 0.2vw;
  bottom: 0.3vw;
  background-color: #f2c422;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:checked + .slider-bulb {
  background-color: #f2c422;
}

input:focus + .slider-bulb {
  box-shadow: 0 0 0.2vw #2196f3;
}

input:checked + .slider-bulb:before {
  transform: translateX(8vw);
}

.switch .text {
  position: absolute;
  top: 50%;
  pointer-events: none;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: 0.4s;
}

.switch .text.on {
  left: 1.6vw;
  transform: translateX(-6vw) translateY(-50%);
}

.switch .text.off {
  color: #999;
  right: 1.6vw;
}

input:checked ~ .text.off {
  transform: translateX(10vw) translateY(-50%);
}

input:checked ~ .text.on {
  transform: translateX(0) translateY(-50%);
}

/* The switch - the box around the slider-fan */
.switch {
  font-size: 2.5vw;
  position: relative;
  display: inline-block;
  width: 14vw;
  height: 5vw;
  overflow: hidden;
  font-weight: 700;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider-fan */
.slider-fan {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 3vw;
  border: 1px solid black;
}

.slider-fan:before {
  position: absolute;
  content: url("../../assets/fan.svg");
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  border: 0.2vw solid #333;
  left: 0.2vw;
  bottom: 0.3vw;
  background-color: #2237f2;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input:checked + .slider-fan {
  background-color: #2237f2;
}

input:focus + .slider-fan {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-fan:before {
  transform: translateX(8vw);
}

.switch .text {
  position: absolute;
  top: 50%;
  pointer-events: none;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: 0.4s;
}

.switch .text.on {
  left: 2vw;
  transform: translateX(-40vw) translateY(-50%);
}

.switch .text.off {
  color: #999;
  right: 2vw;
}

input:checked ~ .text.off {
  transform: translateX(50vw) translateY(-50%);
}

input:checked ~ .text.on {
  transform: translateX(0) translateY(-50%);
}
@media all and (max-width:960px){
.switch{
  width: 55vw;
  height: 15vw;
  font-size: 5vw;
}
.slider-bulb,.slider-fan {
  border-radius:7vw;
  height: 15vw;
}
.slider-bulb:before,
.slider-fan:before {
  height: 12vw;
  width: 12vw;
  margin-left: 2vw;
  margin-bottom: 0.7vw;
}
}
